@import '~antd/dist/antd.less';
@import '~livekit-react/dist/index.css';
@import '~react-aspect-ratio/aspect-ratio.css';

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  // --dark-background: #020117;
  // --layer-background: #251B3D;
  // --error-red: #e86461;
  // --success-green: #1ae398;
  // --text-color: #fff;
  --dark-background: #f8fafc;
  --layer-background: #fff;
  --border-color: #dadada;
  --error-red: #e86461;
  --success-green: #1ae398;
  --text-color: #2c232c;
  --dark-purple: #4D40F0;
  background: var(--dark-background);

}

p {
  margin-bottom: 0px;
}

.ant-form-item-explain {
  font-size: 11px;
  margin-top: 5px;
}

.ant-modal {
  top: 15px !important;
}

.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border-right: none;
}

.ant-message-custom-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode-message {
  .ant-message-notice-content {
    background: #110A1F;
    color: #fff;
    border: 2px solid #1F1239;
  }
}

.ant-popover-buttons {
    margin-bottom: 4px;
    text-align: right;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.ant-popover-message-title {
  padding-left: 8px;
}