@import "~antd/dist/antd.less";
@import "~livekit-react/dist/index.css";
@import "~react-aspect-ratio/aspect-ratio.css";

// @font-face {
//   font-family: "HKGrotesk";
//   src: url("/fonts/HKGrotesk/HKGrotesk-Regular.ttf");
//   font-style: normal;
//   font-weight: 400;
//   font-display: swap;
// }

// @font-face {
//   font-family: "HKGrotesk";
//   src: url("/fonts/HKGrotesk/HKGrotesk-Medium.ttf");
//   font-style: medium;
//   font-weight: 500;
//   font-display: swap;
// }

// @font-face {
//   font-family: "HKGrotesk";
//   src: url("/fonts/HKGrotesk/HKGrotesk-SemiBold.ttf");
//   font-style: bold;
//   font-weight: 600;
//   font-display: swap;
// }

// @font-face {
//   font-family: "HKGrotesk";
//   src: url("/fonts/HKGrotesk/HKGrotesk-Bold.ttf");
//   font-style: bold;
//   font-weight: 700;
//   font-display: swap;
// }

body {
  font-family: -apple-system, "system-ui", "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;

  // --dark-background: #020117;
  // --layer-background: #251B3D;
  // --error-red: #e86461;
  // --success-green: #1ae398;
  // --text-color: #fff;
  --dark-background: #f8fafc;
  --layer-background: #fff;
  --border-color: #eeeeee;
  --error-red: #e86461;
  --success-green: #1ae398;
  --text-color: #2c232c;
  --dark-purple: #4d40f0;
  background: #fff;
  overflow: overlay;
}

p {
  margin-bottom: 0px;
}

.ant-form-item-explain {
  font-size: 11px;
  margin-top: 5px;
}

.ant-modal {
  top: 15px !important;
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right: none;
}

.ant-message-custom-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode-message {
  .ant-message-notice-content {
    background: #110a1f;
    color: #fff;
    border: 2px solid #1f1239;
  }
}

.ant-popover-buttons {
  margin-bottom: 4px;
  text-align: right;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ant-popover-message-title {
  padding-left: 8px;
}

.ant-select-item-option-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
